@import "../assets/css/config/Vars";
.activity-content{
    background: $white;
    .top{
        height: 3em;
        width: 100%;
        background:  $topBg;
        position: relative;
        position: fixed;
        top:0px;
        z-index: 999;
        box-shadow: 0px 1px 2px rgba(0,0,0,.1);
        max-width: 640px;
        .left {
            position: absolute;
            top:0.8em;
            left: 1em; 
            width:1.35em;
            height: 1.35em;
            background: url("../assets/image/arrow_left.png") no-repeat center;
            background-size: cover;  
          }
        .right{
            position: absolute;
            right: 2em;
            top: 1em;
            color: $white;
            font-size: 1em;
        }
        .center{
            position: absolute;
            text-align: center;
            width: 100%;
            top: 1em;
            color: $white;
            font-size: 1em;
            line-height: 1em;
        }
        // /deep/.icon-top{
        //     position: absolute;
        // }
        .icon-top{
            position: relative;
            // background: #fff;
            top:2.2em;
            left: 20px;
            color: transparent;
        }
        .img-arrow{
            position: absolute;
            right: 1em;
            top: 1.5em;
            width: 0.7em;
            height: 0.4em;
            background:url("../assets/image/pull_down.png") no-repeat center;
            background-size: cover;
        }
    }
    .activity{
        .activity1{
            position: relative;
            .count1{
                position: absolute;
                top:0.8em;
                right:0.85em;
                font-size: 1.6;
                font-weight: 400;
                color: rgba(255,255,255,.65);
                display: inline-block;
                padding: 0em 0.5em;
                height: 1.5em;
                line-height: 1.5em;
                border-radius: 0.5em;
                text-align: center;
                background: rgba(0,0,0,.25);
                a{
                    color: rgba(255,255,255,.65);
                }
            }
            .count{
                position: absolute;
                top:0.8em;
                right:0.8em;
                font-size: 2em;
                font-weight: 400;
                color: rgba(255,255,255,.65);
                display: inline-block;
                width: 1em;
                height: 1em;
                line-height: 1;
                border-radius: 100%;
                text-align: center;
                background: rgba(0,0,0,.25);
                a{
                    color: rgba(255,255,255,.65);
                }
            }
            .recharge-btn{
                background: #f39801;
                padding: 0.6em 3em;
                position: absolute;
                font-size: 1em;
                top:28.5em;
                right:2em;
                color:$white;
                border:0px;
                border-radius: 0.3em;
                box-shadow: 2px 2px 5px rgba(0,0,0,.5);
            }
            .activity-content1{
                position: absolute;
                top:18em;
                left: 0px;
                padding: 0px 1.5em;
                p{
                    margin: 0 auto;
                    margin-top: 1.2em;
                    font-size: 0.85em;
                    text-align: left;
                    color: $white;
                    .span{
                        color: #ffcb15;
                    }
                }
                .activity-content3{
                    width: 20em;
                    margin: 0 auto;
                    .content2-title{
                        margin: 0 auto;
                        padding-top: 2em;
                        font-size: 0.85em;
                        color:rgba(255,255,255,.75);
                    }
                    .content2-ft{
                        font-size: 0.85em;
                        line-height: 1.8;
                        color:rgba(255,255,255,.75);
                        .span{
                            color: #ffcb15;
                        }
                    }
                }
            }
            .activity1-ft-zone{
                position: absolute;
                top: 0px;
                background: rgba(0,0,0,.35);
                width: 100%;
                height: 3em;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;                
                p{
                    margin: 0 auto;
                    color: $white;
                    text-align: left;
                    padding:0.4em 1em;
                    font-size: 0.8em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                }
            }
        }
        img{
            width: 100%;
            display: block;
        }
        .activity23-zone{
            display: flex;
            margin-top: 0.2em;
            .activity2{
                width: 50%;
                margin-right: 0.1em;
                position: relative;
            }
            .activity3{
                width: 50%;
                margin-left: 0.1em;
                position: relative;
                
            }
        }
    }
    .btn-zone{
        display: flex;
        .trade-zone{
            width: 33.3%;
            text-align: center;
            font-size: 0.85em;
            
            .ico-trade{
                display: inline-block;
               width: 2em;
               height: 2em;
            //    background:url("../assets/image/trade-ico.svg") no-repeat center;
            //    background-size: 100% 100%;
               margin-top: 1em;
            }
            .ico-share{
               display: inline-block;
               width: 2.4em;
               height: 2.4em;
            //    background:url("../assets/image/share-ico.svg") no-repeat center;
            //    background-size: 100% 100%;
               margin-top: 0.6em;
            }
            .ico-bb{
                display: inline-block;
                width: 2em;
                height: 2em;
                // background:url("../assets/image/bb-ico.svg") no-repeat center;
                background-size: 100% 100%;
                margin-top: 1em;
             }
            p{
                margin: 0 auto;
                margin-top: 0.2em;
            }
        }
    }
    table{
        margin-top: 1em;
        width: 100%;
        overflow: hidden;
        border-collapse: separate;
        border-spacing: 0;
        background: #f5f5f5;
        thead{
            background: #3d9cee;
        }
        th{
            font-size: 0.75em;
            padding: 0.8em 1.2em;
            padding-left: 1em;
            text-align: center;
            color: $white;
            font-weight:400;
        }
        td{
            font-size: 0.75em;
            padding: 0.8em 1.2em;
            text-align: center;
            color: #999;
            font-weight:400;
            
            a{
                color:$blue;
            }
        }
        .x{
            color: #ff4551;
        }
        .df{
            color: #22d737;
        }
        tr:nth-of-type(odd) {
            background-color: #fff;
        }
    }
  
}

