@import "../assets/css/config/Vars";
body{

    max-width: 640px;
}

.content{ 
    background: transparent;
    position: relative;
    padding-top: 3em;
    .top{
        height: 3em;
        width: 100%;
        background:  $topBg;
        position: relative;
        position: fixed;
        max-width: 640px;
        overflow: hidden;
        z-index: 999;
        top:0px;
        .right{
            position: absolute;
            right: 2em;
            top: 1em;
            line-height: 1em;
            color: #000;
            font-size: 1em;
        }
        // /deep/.icon-top{
        //     position: absolute;
        // }
        .center{
            position: absolute;
            text-align: center;
            width: 100%;
            top: 1em;
            color: #000;
            font-size: 1em;
            line-height: 1em;
            .div-content-head1-span{
                font-size: 1em;
            }
            .div-content-head2-span{
                font-size: 0.8em;
            }
        }
        .icon-top{
            position: relative;
            // background: #fff;
            top:2em;
            left: 20px;
            color: transparent;
        }
        .img-arrow{
            position: absolute;
            right: 1em;
            top: 1.5em;
            width: 0.7em;
            height: 0.4em;
            background:url("../assets/image/pull_down.png") no-repeat center;
            background-size: cover;
        }
        .left {
            position: absolute;
            top:0.8em;
            left: 1em; 
            width: 1.35em;
            height: 1.35em;
            background: url("../assets/image/arrow_left.png") no-repeat center;
            background-size: cover;
          }
    }
    .tab-bills{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 640px;
        height:2.4em;
        // padding-top: 1.2em;
        background: #F3F5F7;
        // position: fixed;
        // top:3em;
        z-index: 999;
        position: fixed;
        button{
            width: 33.333333%;
            height: 2.4em;
            text-align: center;
            font-size: 1em;
            border-style: none;
            background: #F3F5F7;
            color: #A9B2C3;
            border-bottom: 1px solid $silver;
            outline:none;
        }
        button.tab1{
            // border-bottom:2px solid $blue;
            color:#0B2E67;
       }
       button.tab2{
        // border-bottom:2px solid $blue;
        color:#0B2E67;
      }
      button.tab3{
        // border-bottom:2px solid $blue;
        color:#0B2E67;
      }
    }
    .bill-trade-list{
        padding-top:0;
        background: #fff;
        .bill-trade-list-item:nth-of-type(){
            padding: 0px 1em;  
        }
        .bill-trade-list-item:nth-of-type(odd){
            background: $white;
        }
        .bill-trade-list-item-content{
            padding: 1em 1em;
            padding-bottom:1.8em;
            border-bottom: 1px solid #F3F5F7;
            // 
            // .div-left-top{
            //     top: 0em;
            //     left: 0em;
            // }
            // .div-right-top{
            //     top: 0em;
            //     right: 0em;
            // }
            // .div-left-bottom{
            //     bottom: 0em;
            //     left: 0em;
            // }
            // .div-right-bottom{
            //     bottom: 0em;
            //     right: 0em;
            // }
            .p1{
                margin:0 0 0 0;
                text-align: left;
                padding:0 0 0 0;
                width: 100%;
                position: relative;
                line-height: 0.8em;
                font-size: 0.8em; 
                .span-left{
                   position: absolute;
                   left: 0em;
                   color: #4E586E;
                }
                .span-right{
                    position: absolute;
                    right: 0em;
                    color: #4E586E;
                 }
                 
            }
            .p2{
                margin:2em 0 0 0;
                padding:0 0 0 0;
                text-align: left;
                width: 100%;
                line-height: 0.8em;
                font-size: 0.8em; 
                position: relative;
                .span-left{
                    position: absolute;
                    left: 0em;
                    color: #4E586E;
                 }
                 .span-right{
                    position: absolute;
                    right: 0em;
                    color: #4E586E;
                  }
                  .span-time{
                    color: #A9B2C3;
                 }
            }
        }
        
    }
    .btn-order{
        line-height: 2.4;
        font-size: 1.12em;
        height: auto;
        margin-top:1em;
        background:$blue;
         width: 90%;
         margin-left: 3%;
        }       

    .bill-deposits_list{
        padding-top:0;
        background: #fff;
        .bill-deposits_list-item:nth-of-type(){
            padding: 0px 1em;    
        }
        .bill-deposits_list-item:nth-of-type(odd){
            background: $white;
        }
        .bill-deposits_list-item-content{
            padding: 1em 1em;
            padding-bottom: 1.8em;
            border-bottom: 1px solid #F3F5F7;
            .p1{
                margin:0 0 0 0;
                text-align: left;
                padding:0 0 0 0;
                
                width: 100%;
                position: relative;
                line-height: 0.8em;
                font-size: 0.8em; 
                .span-left{
                   position: absolute;
                   left: 0em;
                   color: rgb(0, 94, 228);
                }
                .span-right{
                    position: absolute;
                    right: 0em;
                    color: rgb(0, 94, 228);
                 }
            }
            .p2{
                margin:2em 0 0 0;
                padding:0 0 0 0;
                text-align: left;
                width: 100%;
                line-height: 0.8em;
                font-size: 0.8em; 
                position: relative;
                .span-left{
                    position: absolute;
                    left: 0em;
                    color: #A9B2C3;
                 }
                 .span-right{
                    position: absolute;
                    right: 0em;
                     color: $lGray;
                  }
            }
        }
        
    }
       

    .btn{
        line-height: 2.5;
    font-size: 1.12em;
    height: auto;
    margin-top: 3em;
    background:$C0BE9AF; 
    border-radius: 3em;
    width: 90%;
    margin: 1em auto 1em auto;
        }
 
        .mu-toast{
            width:toRem(231);
            height:auto;
            background:rgba(0,0,0,1);
            border-radius:10px;
            opacity:0.6;
            line-height: normal;
            white-space: normal;
            bottom: auto;
            padding: 1em 2em;
            color: #fff;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(toRem(-231 / 2), toRem(-123 / 2));
            margin: 0 auto;
            font-size: 1em;
          }

.progress{
    width:2.5em;height:2.5em;margin:40% auto 0 auto;
    -webkit-animation:rotateImg 1s linear infinite;
}

@keyframes rotateImg {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);}
  100%{-webkit-transform : rotate(360deg);}
}
    
}
