@import "../assets/css/config/Vars";
.bottom_nav_zone{
    position: fixed;
    width: 100%;
    max-width: 640px;
    bottom:0px;
}

.bottom_nav{
    background: $lgray;
    border-top:1px solid $border;
    width: 100%;
    max-width: 750px;
    margin: 0px;
    display: flex;
    margin: 0 auto;
}
.bottom_nav_btn_zone{
    flex:1;
    display: inline-block;
    text-align: center;
    line-height: 2.8;
    padding-bottom: 0.1em;
    color:$ico;
    height: 3.8em;
    i{
        display: block;
        margin: 0 auto;
    }
    span{
        font-size: 1em;
        line-height: 1;
    }
}
.btn-img{
    width: 4em;
    position: relative;
    top:0.5em;
}
.main-btn{
    color:#fff;
}
.main-min-btn{
    color:#fff;
}
.router-link-active{
    color: $main;
}
.active{
    i{
        color:$main !important;
    }
    span{
        color:$main !important;
    }
}
.my_dialog{
    word-wrap:break-word;
    .mu-dialog {
        width: 75%;
        max-width: 768px;
        padding: 0;
        background-color: #fff;
        border-radius: 2px;
        font-size: 16px;
        -webkit-box-shadow: 0 19px 60px rgba(0, 0, 0, .298039), 0 15px 20px rgba(0, 0, 0, .219608);
        box-shadow: 0 19px 60px rgba(0, 0, 0, .298039), 0 15px 20px rgba(0, 0, 0, .219608);
    }
}