@import "../assets/css/config/Vars";
.content{
    padding-bottom:3.2em;
    background: #f5f5f5;
    .list-content-big{
        padding: 0.8em;
        background: $white;
        position: relative;
        margin-left: 1em;
        margin-right: 1em;
        p.sex{
            margin-top: 0.8em;
            margin-bottom:0px;
            padding-top: 0.65em;
            color: $bannerft;
            text-align: left;
            line-height: 1;
            border-top: 1px solid #f7f7f7;
        }
        .foxid-zone{
            background: $main;
            position: absolute;
            top:1em;
            right: 0px;
            line-height: 1.8;
            color: rgba(255,255,255,.75);
            border-bottom-left-radius: 1em;
            border-top-left-radius: 1em;
            padding-left:1em;
            padding-right:0.65em;
            font-size: 0.95em;
        }
    }
    .right-content-zone{
        margin-top:0.6em;
        p{
            margin: 0;
            line-height: 1.5;
            i{
                color:$main-min;
                margin-right: 0.4em
            }
            span{
                color: $bannerft;
                font-size: 0.8em;
                i{
                    color: $bannerft;
                }
            }
            .help{
                font-size: 1em;
                position: relative;
                top:0.15em;
                
            }
        }

    }

    .list-content{
        display: flex;
    }
    .list-img{
        width: 7.5em;
        height: 7.5em;
        position: relative;
        .body1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .body2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .body3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .body4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .body5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .body6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .body7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .body8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .body9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .body10{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-67.5em 0px;
            background-size: auto 100%;
        }
        .body11{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-75em 0px;
            background-size: auto 100%;
        }
        .body12{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-82.5em 0px;
            background-size: auto 100%;
        }
        .body13{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-90em 0px;
            background-size: auto 100%;
        }
        .body14{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-97.5em 0px;
            background-size: auto 100%;
        }
        .body15{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-105em 0px;
            background-size: auto 100%;
        }
        .body16{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-112.5em 0px;
            background-size: auto 100%;
        }
        .body17{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-120em 0px;
            background-size: auto 100%;
        }
        .body18{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"body1.png");
            background-position:-127.5em 0px;
            background-size: auto 100%;
        }
        .hate1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png"); 
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .hate2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .hate3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .hate4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .hate5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .hate6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .hate7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .hate8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .hate9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"hate.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .erhuan1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .erhuan2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .erhuan3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .erhuan4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .erhuan5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .erhuan6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .erhuan7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .erhuan8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .erhuan9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"erhuan.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .yanjing1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .yanjing2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .yanjing3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .yanjing4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .yanjing5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .yanjing6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .yanjing7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .yanjing8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .yanjing9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"yanjing.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .weibo1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .weibo2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .weibo3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .weibo4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .weibo5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .weibo6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .weibo7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .weibo8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .weibo9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"weibo.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .shiping1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .shiping2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .shiping3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .shiping4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .shiping5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .shiping6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .shiping7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .shiping8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .shiping9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"shiping.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .mouth1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .mouth2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .mouth3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .mouth4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .mouth5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .mouth6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .mouth7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .mouth8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .mouth9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"mouth.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .face1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
        .face2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .face3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .face4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .face5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .face6{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-37.5em 0px;
            background-size: auto 100%;
        }
        .face7{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-45em 0px;
            background-size: auto 100%;
        }
        .face8{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-52.5em 0px;
            background-size: auto 100%;
        }
        .face9{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"face.png");
            background-position:-60em 0px;
            background-size: auto 100%;
        }
        .level1{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"level.png");
            background-position:-30em 0px;
            background-size: auto 100%;
        }
        .level2{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"level.png");
            background-position:-22.5em 0px;
            background-size: auto 100%;
        }
        .level3{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"level.png");
            background-position:-15em 0px;
            background-size: auto 100%;
        }
        .level4{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"level.png");
            background-position:-7.5em 0px;
            background-size: auto 100%;
        }
        .level5{
            position: absolute;
            width: 100%;
            height:100%;
            left: 0px;
            top:0px;
            background: url($IMAGE_BASE_URL+"level.png");
            background-position: 0px 0px;
            background-size: auto 100%;
        }
    }

}

.hide-change-btn{
    border-right-width:0px;
    border-left-width:0px; 
    border-top-width:0px; 
    border-bottom-color: #0A2463;
    border-style: solid;
    border-bottom-width: 2px;
    color: #0A2463;
    background:#fff;
    font-size: 0.8em;
    width: 120px;
        &.disable {
           border-bottom-color: #ffffff;
           color: #808080;
        &:hover {
            border-bottom-color:  #ffffff;
            color: #808080;
        }
      }
}
.my-list-content-zone-game{
    padding-top: 0.5em;
    .my-list-content-big-game:nth-of-type(){
        padding: 0px 1em;    
    }
    .my-list-content-big-game:nth-of-type(odd){
        background:#ede7f6;
    }
    p{
        font-size: 0.8em;
        text-align: left;
        padding: 0px 1em;
        margin: 0px;
        display: block;
        line-height: 2.8;
        color:#999;
        .time{
            color: $bannerft;
            float: left;
        }
    }
}

.fox-table{
    margin-top: 1em;
    table{
        .mu-th {
            font-weight: 400;
            font-size: 1em;
            height: auto;
            color: rgba(0, 0, 0, .54);
            position: relative;
            padding: 0px;
        }
        .mu-td {
            height: auto;
            font-size: 0.8em;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            padding: 0px;
            line-height: 2.1;
            color: $bannerft;
            text-align: left;
            line-height: 2.6;
        }

        .list-time{
            width: 12em;
            text-align: left;
        }
        .list-right{
            text-align: right;
            color: $main-min;
        }
        .list-left{
            text-align:left;
            color:$main-min;
            span{
                display: inline-block;
                margin-left: 0.8em;
                text-align: left
            }
        }
        .mu-tr {
            color: rgba(0, 0, 0, .87);
            height: auto;
            border-bottom: 0px solid rgba(0, 0, 0, .12);
            background: #fff;
            line-height: 2.6;
        }
        .mu-tr:nth-of-type(odd){
            background:#ede7f6;
        }
        .right{
            text-align: right;
            padding-right: 0.5em;
            i{
                color: $main-min;
            }
        }
        .left{
            text-align: left;
            padding-left: 0.5em;
        }
        .list-right-ico{
            width: 2em;
            text-align: right;
            color: $main-min;
            .material-icons{
                position: relative;
                top:0.175em
            }
        }
    }
}