@import "../assets/css/config/Vars";
body{
    background: $white;
}
.content-modify-password-assert{
    background: $white;
    position: relative;
    .top{
        width: 100%;
        height: 3em;
        background: $topBg; 
        .center{
            position: absolute;
            width: 100%;
            top: 1em;
            color: $white;
            font-size: 1em;
            text-align: center;
            line-height: 1;
        }
        .right{
            position: absolute;
            right: 1em;
            top: 1em;
            color: $white;
            font-size: 1em;
            line-height: 1;
        }
        .left {
            position: absolute;
            top:0.8em;
            left: 1em; 
            width: 1.35em;
            height: 1.35em;
            background: url("../assets/image/arrow_left.png") no-repeat center;
            background-size: cover;
          }
    }
    .banner {
        width: 100%;
        height: 4em;
        display: flex;
        margin-top:2em;
        padding-left: 2.5em;
        .logo {
          height: 2.8em;
          width:13em; 
          background: url($IMAGE_BASE_URL+"large_logo.png") no-repeat left;
          background-size:auto 100%;
        }
      }
      .p-safe-tip{
        margin-top: 3em;
        text-align: left;
        padding-left: 2.5em;
        padding-right: 2.5em;
        font-size: 0.9em;
        color: #0A2463;
    }
      .login{
        width: 100%;
        padding:0em  2.5em 1.5em 2.5em;
        text-align: left;
        margin-top: 1em;
        .input-zone{
         .mu-text-field-content {
             display: block;
             height: 100%;
             padding-bottom: 1em;
             padding-top: 0.5em;
             .mu-text-field-focus-line{
                 background-color: $blue;
                 height: 1px;
            }
         }
        }
        
    }
    .pw-forget-btn{
        margin:  0px;
        text-align: left;
        font-size: 0.85em;
        color: $blue;
        }
//    .sign_in_zone{
//        position: absolute;
//        top:16em;
//        width: 100%;
//        padding: 0px 6em 0px 6em;
       
//        .input-zone{
//            width: 100%;
//            overflow: hidden;
//            .mu-text-field {
//                width: 100%;
//            }
//            input{
//                width: 100%;
//            }
//        }
//    }
   .captcha-zone{
       position: relative;
   }
   .captcha{
        position: absolute;
        bottom: 1.4em;
        width: 7.5em;
        height: 2em;
        right: 0px;
        background-size: cover;
        background-repeat: no-repeat;
   }
   .btn{
    line-height: 2.4;
    font-size: 1.12em;
    height: auto;
    margin-top: 1em;
    background:$blue; 
    }
    .mu-toast{
        width:toRem(231);
    height:auto;
    background:rgba(0,0,0,1);
    border-radius:10px;
    opacity:0.6;

    // height: 2.2em;
    line-height: normal;
    white-space: normal;
    bottom: auto;
    padding: 1em 2em;
    // background-color: rgba(0, 0, 0, .75);
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(toRem(-231 / 2), toRem(-123 / 2));
    margin: 0 auto;
    font-size: 1em;
      }
}
