@import "../assets/css/config/Vars";
// #app{
//     // margin-bottom: 3em;
//     max-width: 640px;
//     background: #f7f7f7;
// }

.mu-menu-item-wrapper {
    .active{
        color: #3d9cee;
    }
    
}
.content-withdraw-ok{ 
    background: #F3F5F7;
    position: relative;
    height: 100%;
    .top{
        height: 3em;
        width: 100%;
        background:  $topBg;
        position: relative;
        position: fixed;
        top:0px;
        z-index: 999;
        box-shadow: 0px 1px 2px rgba(0,0,0,.1);
        max-width: 640px;

        
        .center{
            position: absolute;
            width: 60%;
            top: 1em;
            color: #ffffff;
            font-size: 1em;
            text-align: center;
            line-height: 1;
            left: 20%;
            
        }
        .left {
            position: absolute;
            top:0.7em;
            left: 1em; 
            width: 1.35em;
            height: 1.35em;
            background: url("../assets/image/arrow_left.png") no-repeat center;
            background-size: cover;
          }
       
        .right{
            position: absolute;
            right: 1em;
            top: 0em;
            color: $white;
            font-size: 1em;
            line-height: 3em;
            height: 3em;
            padding-right: 1em;
        }
  
        .icon-top{
            position: relative;
            // background: #fff;
            top:2.4em;
            left: 20px;
            color: transparent;
        }
        .img-arrow{
            position: absolute;
            right: 1em;
            top: 1.25em;
            width: 0.7em;
            height: 0.4em;
            background:url("../assets/image/pull_down.png") no-repeat center;
            background-size: cover;
        }
    }
    
//////
.mu-toast{
    width:toRem(231);
    height:auto;
    background:rgba(0,0,0,1);
    border-radius:10px;
    opacity:0.6;
    line-height: normal;
    white-space: normal;
    bottom: auto;
    padding: 1em 2em;
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(toRem(-231 / 2), toRem(-123 / 2));
    margin: 0 auto;
    font-size: 1em;
  }

.btn{
    // line-height: 2.5;
    // font-size: 1.12em;
    // height: auto;
    // margin-top: 3em;
    // background:$C0BE9AF; 
    // border-radius: 3em;
    // width: 90%;
    // margin: 1em auto 1em auto;
    // // margin-left: 2%;
    // }
    line-height: 2.5;
    height: 3.33333rem;
    font-size: 1.12em;
    margin-top: 3em;
    background: #005EE4;
    border-radius: 0.26667rem;
    width: 90%;
    margin: 1em auto 1em auto;
}
}